@font-face {
    font-family: 'Space-mono';
    src: url(fonts/Space_Mono/SpaceMono-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Space-mono';
    src: url(fonts/Space_Mono/SpaceMono-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Space-mono';
    src: url(fonts/Space_Mono/SpaceMono-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Space-mono';
    src: url(fonts/Space_Mono/SpaceMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

/* body */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

/* header */


#site-header {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    
}

#site-logo {
    position: relative;
    left: 5%;
}
#site-logo img {
    width: 216px;
    height: 14px;
}

#site-navigation {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
}

.main-menu {
    position: relative;
    right: 5%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    margin-left: 45px; 
}

.main-menu a {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400; 
    text-decoration: none;
    color: #000; 
    font-size: 16px; 
    line-height: 24px;
}

.main-menu a:hover {
    text-decoration: underline;
}

// header burger //

/* Menu burger button */
.menu-toggle {
    display: none; 
    top: 65px;
    right: 20px;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
}

/* Style pour les lignes du menu burger */
.menu-toggle .line {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #333;
    transition: all 0.3s ease;
}

/* Style pour l'état actif (croix) */
.menu-toggle.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu-toggle.active .line:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* footer */

.footer-content {
    padding-bottom: 20px;
}
.custom-line {
    border: none;            
    border-top: 1px solid black; 
    margin: 20px 0;         
  }  

#site-footer {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li {
    margin: 0 43px;
}

.footer-menu a {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400; 
    text-decoration: none;
    color: #000; 
    font-size: 16px; 
    line-height: 24px;
}

.footer-menu a:hover {
    text-decoration: underline; 
}

/* modal contact */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Contenu de la modale */
.modal-content {
    position: relative;
    bottom: 5%;
    background-color: #fff; 
    margin: 10% auto; 
    padding: 0px;
    border: 4px solid #000;
    width: 60%; 
    max-width: 700px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

/* Bouton de fermeture de la modale */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000; 
    text-decoration: none;
}

/* Formulaire contact */

.form-container {
    height: 600px;
    width: 263px;
    margin-top: 50px;
}

.contact-logo {
    width: 100%;
    height: 106px;
    position: relative;
}

.wpcf7-form {
    max-width: 263px;
    margin: auto;
}

.first-label, .second-label {
    margin-bottom: 15px;
    margin-top: 15px;
}

.first-label label, .second-label label {
    display: flex;
    color: #313144;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
}

.first-label input, .second-label textarea {
    width: 100%;
    border: 1px solid #B8BBC2;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    height: 40px;
}

.second-label textarea {
    height: 210px;
}

.wpcf7-submit {
    margin-top: 10px;
    width: 263px;
    height: 50px;
    background-color: #D8D8D8;
    border: none;
    cursor: pointer;
    
}

div.form-container .wpcf7-submit {
    font-family: 'Space Mono', sans-serif;
    font-size: 12px;
}

.form-container br {
    display: none;
}


/* Styles front-page */

.homepage-photos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: center; 
}

.photo-item {
    background-color: #f8f8f8;
    width: 564px;  
    height: 495px; 
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    transition: background-color 0.3 ease;
    position: relative;
}

.photo-item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    
}

.photo-item img {
    max-width: 100%;
    max-height: 100%;
    width: 564px;
    height: 495px;
    object-fit: cover;
    transition: opacity 0.3 ease;
    display: block;
   
}

.photo-item:hover img {
    opacity: 0.7; 
}

.photo-item a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* front-page filter */ 

.filter-dropdown {
    position: relative;
    display: inline-block;
    width: 260px;
}

.dropdown-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;

    &::after {
        content: "";
        width: 8px;
        height: 8px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        transform: rotate(45deg) translateX(-45%);
        transition: 0.2s ease-in-out;
        position: absolute;
        top: 15px;
        right: 16px;
    }
}

.filter-dropdown.open .dropdown-btn::after {
    transform: rotate(-135deg);
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    font-size: 12px;
}

.dropdown-list li {
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: #FFD6D6;
    }
    &:active {
        background-color: #E00000;
        color: white;
    }
}


.filter-dropdown.open .dropdown-list {
    display: block;
}

.homepage-filter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#filter-category {
    margin-right: 20px;
}

.homepage-button {
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
}

.load-more {
    border-radius: 2px;
    background-color: #D8D8D8;
    border: 1px solid #D8D8D8;
    color: #000;
    padding: 8px 15px 8px 15px;
    width: 272px;
    height: 50px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Space-Mono';
    margin-top: 20px;
    box-sizing: border-box;
}

.load-more:hover {
    background-color: #000;
    color: #fff;
}
/* hero-header */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 962px;
    max-height: 962px; 
    overflow: hidden;
    margin-bottom: 40px;
}

.banner .hero-header {
    width: 100%;
    height: 962px;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.event-image {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    z-index: 1;
}

.event-image img {
    width: 100%;
    height: auto;
}

/* Styles pour la Lightbox */

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Lightbox close */
  .lightbox-close {
    width: 100%;
    height:30px;
}

.lightbox-close i {
    cursor: pointer;
    position: fixed;
    top: 3em;
    right: 4em;
    transform: scale(2);
    opacity: 0.8;
    color: #fff;
}

.lightbox-close i:hover {
    opacity: 1;
    transition: opacity 0.3s;
}
  
  /* Lightbox content */
  .lightbox-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* Lightbox navigation */
  .lightbox-nav {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }
  .lightbox-photo-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .lightbox-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100vh;
  }
  
  .lightbox-photo img {
    max-width: 100%;
    max-height: 79vh;
    object-fit: contain;
  }
  
  .lightbox-info {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
  }
  
  .reference-photo {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Space Mono', sans-serif;
    font-weight: 500;
  }
  
  .categorie-photo {
    text-align: right;
    text-transform: uppercase;
    font-family: 'Space Mono', sans-serif;
    font-weight: 500;
  }

  .open-lightbox {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    z-index: 1010;
    cursor: pointer;
    fill: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.photo-item:hover .open-lightbox,
.photo-item:hover .icon-center {
    display: block;
    opacity: 1;
}

.icon-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    fill: white; 
    width: 50px; 
    height: 50px; 
    cursor: pointer; 
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* bloc title/categorie photo */

.photo-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
    font-family: 'Space Mono', sans-serif;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }

  .photo-item:hover .photo-info {
    transform: translateY(0);
}
  
  .photo-title {
    text-align: left;
    font-size: 14px;
  }
  
  .photo-category {
    text-align: right;
    font-size: 14px;
  }


/* single.php */

/* bloc 1 */

.single-title {
    font-family: 'Space Mono', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 66px;
    line-height: 58px;
    margin-bottom: 20px;
}

.single-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}

.single-content-left {
    width: 50%;
    border-bottom: 1px solid black;
}

.single-content-pos {
    position: relative;
    top : 55%;
    left: 0%;
}

.single-content-right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-content-right img {
    width: 563px;
    height: 844px;
    object-fit: cover;
    
}

.acf-fields p {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 10px;
}

/* Bloc inférieur */
.interaction-block {
    display: flex;
    align-items: center;
    height: 140px;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    max-width: 1200px;
}

.interaction-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

.contact-button {
    position: relative;
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: black;
    background-color: #D8D8D8;
    padding: 8px 15px 8px 15px;
    border-radius: 2px;
    gap: 10px;
    width: 100%; 
    height: 50px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
}

.interaction-second-block-1 {
    width: 50%;
    display: flex;
}

.interaction-block-1 { 
    width: 250px;
    height: 118px;
    position: relative;
    display: flex;
    align-items: center;
}

.interaction-block-2 {
    width: 279px;
    height: 118px;
    position: relative;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interaction-block-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    width: 100%;
    position: relative; 
    left: 25%;
}

.thumbnail {
    margin: 0 20px;
    position: relative;
}

.thumbnail img {
    width: 100px; 
    height: auto;
    object-fit: cover;
}

.arrow-position {
   position: relative;
   bottom: 0%;
}

.nav-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.prev-button {
    margin-right: 10px;
}

.next-button {
    margin-left: 10px;
}


/* Masquer l'image miniature par défaut */
.thumbnail-miniature img {
    display: none;
    height: auto;
    max-width: 100%;
    max-height: 100px;
    margin: 0 auto;
    position: relative;
    right: 0%;
}

/* bloc 3 */

.similar-photos {
    margin: auto;
    margin-top: 30px;
    max-width: 1200px;
    height: 650px;
}

.title-photos {
    margin: 50px 50px 50px 0px;
    padding: 0 20px;
}

.title-photos h2 {
    font-weight: 400;
    font-family: 'Space-mono';
    font-size: 18px;
    line-height: 27px;
}

/* Responsive pour les tablettes */
@media (max-width: 1024px) {

/*homepage*/

.homepage-filter {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-filter-2 {
    width: 100%;
}

.filter-dropdown {
    width: 100%;
    margin-bottom: 10px;
}

.dropdown-btn {
    width: 100%;
}


/*single*/


    .single-content-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .single-content-left, 
    .single-content-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .single-content-pos {
        top: auto;
        left: auto;
    }

    .single-content-right img {
        width: 100%;
        height: auto;
        max-width: 500px;
    }

    .interaction-block {
        flex-direction: column;
        align-items: center;
        height: 300px;
    }

    .interaction-second-block-1,
    .interaction-block-3 {
        width: 100%;
        margin: 10px 0;
        left: 0%;
    }

    .interaction-block-2 {
        left: auto;
    }

    .arrow-position {
        left: 0;
        bottom: auto;
    }
}

/* Responsive pour les smartphones */
@media (max-width: 768px) {


.footer-menu {
    flex-direction: column;
}
.footer-menu li {
    margin: 20px;
}

#site-header {
    position: relative;
    z-index: 1001;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

#site-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 125px;
    right: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background: #FFF5E9;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 1s ease;
    transform: translateX(100%);
    opacity: 0;
}

#site-navigation.open {
    transform: translateX(0); 
    opacity: 1; 
    background-color: #E00000; 
    z-index: 999; 
}

/* Ajout d'une transition pour la fermeture */
#site-navigation.closing {
    transform: translateX(100%); 
    opacity: 0; 
}


#site-navigation.open .menu-items a {
    color: #fff;
    font-family: 'Space Mono', sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 65px;
}


#site-navigation.open .menu-items a:hover {
    color: #FFD6D6;
    text-decoration: none;
}

.menu-items {
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.menu-items li {
    margin: 50px 0;
}

.menu-toggle {
    display: block;
}

body.no-scroll {
    overflow: hidden;
}

/*homepage*/

.photo-item {
    width: 88%;
}

.homepage-filter {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.homepage-filter-2 {
    width: 100%;
}

.filter-dropdown {
    width: 100%; 
    margin-bottom: 10px; 
}

.dropdown-btn {
    width: 100%; 
}

/*single*/

.single-title {
    font-size: 26px;
}
.single-content-wrapper {
    flex-direction: column-reverse;
    padding: 10px;
    margin: 0 auto;
}

.single-content-left,
.single-content-right {
    width: 100%;
    text-align: center;
}

.single-content-right img {
    width: 100%;
    height: auto;
}

.interaction-block {
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin: 10px 0;
}

.interaction-second-block-1, 
.interaction-block-3 {
    width: 100%;
    margin: 10px 0;
    left: 0%;
}

.interaction-block-2 {
    width: 100%;
    margin-top: 10px;
    left: auto;
}

.arrow-position {
    left: 0;
    bottom: auto;
}

.similar-photos {
    height: auto;
}

.photo-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-photos {
    display: flex;
    justify-content: center;
}

/* lightbox */
.lightbox-nav {
    width: 50%;
    height: 0%;
    top: 90px;
    bottom: 0;
    position: absolute;
    padding-bottom: 2px;
}

.lightbox-prev {
    left: 0;
}

.lightbox-next {
    right: 0;
}


}